<body>
  <h1>Editing Book</h1>
  <% if @book.errors.any? %>
  <div>
    <h2><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
  </div>
<% end %>

  <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f|%>
  <div class="title">
    <label>Title</label>
    <div>
      <%= f.text_field :title, class:"field"%>
    </div>
  </div>
  <div class="body_text">
    <label>Body</label>
    <div>
      <%= f.text_area :body, class:"area"%>
    </div>
  </div>
  <div class="button">
    <%= f.submit "Update Book", class:"submit"%>
  </div>
  <% end %>
  <div class="button">
    <span><%= link_to "Show",book_path(@book.id) %></span>
    <span>|</span>
    <span><%= link_to "Back",books_path %></span>
  </div>
</body>