<% if flash[:notice] %>
 <p><%= notice %></p>
<% end %>
<body>
  <p>
    <stong>Title:</stong>
    <%= @book.title %>
  </p>
  <p>
    <stong>Body:</stong>
    <%= @book.body %>
  </p>
  <%= link_to "Edit",edit_book_path(@book.id) %>
  <p>|</p>
  <%= link_to "Back",books_path %>
</body>